.home-container{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    transform: translateX(5%);
}
.home-myprofile{
    border: 2px solid green;
    color: green;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    border-radius: 3px;
    padding: 5px 20px;
    padding-bottom: 20px;
}
.home-myprofile button{
    border: none;
    padding: 10px 40px;
    font-size: 20px;
    color: white;
    background-color: green;
}
.home-myprofile button:hover{
    cursor: pointer;
    background-color: rgb(0, 95, 0);
}
.recommended-users{
    background-color: whitesmoke;
    margin-top: 20px;
}
.recommended-users h3{
    background-color: green;
    padding: 15px 10px;
    color: white;
}
.recommended-users li:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.recommended-user{
    margin: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.575);
    display: flex;
}
.recommended-userIcon{
    width: 55px;
    padding-bottom: 5px;
}
.recommended-user p{
    color: green;
    font-weight: bolder;
    margin-left: 10px;
}
.recommended-user:hover{
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}
@media screen and (max-width: 800px) {
    .home-container{
        display: block;
        width: 95vw;
        transform: none;
    }
    .home-left,.home-right{
        display: none;
    }
}