.post {
    background-color: whitesmoke;
    width: 40vw;
    border-radius: 10px;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.post-header{
    background-color: rgb(49, 49, 49);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.delete-post-btn{
    background-color: rgb(185, 0, 0);
    color: white;
    padding: 5px;
    border: none;
    border-radius:3px;
}
.delete-post-btn:hover,.edit-post-btn{
    cursor:pointer;
}
.edit-post-btn{
    background-color: rgb(206, 150, 48);
    color: white;
    padding: 5px;
    border: none;
    margin-left: 5px;
    border-radius:3px;
}

.post-header-right{
    display: flex;
    align-items: center;
}
.post-admin{
    margin-left: 10px;
}
.post-edit-input{
    width: 99%;
    height: 100px;
    border: 1px solid grey;
    resize: none;
    font-size: 20px;
}
.post-edit-accept{
    color: green;
    border: none;
    font-weight: bolder;
    background-color: whitesmoke;
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.post-edit-cancel{
    color: red;
    border: none;
    font-weight: bolder;
    background-color: whitesmoke;
    font-size: 25px;
    margin-left: 10px;
}
.post-edit-accept:hover,.post-edit-cancel:hover{
    cursor: pointer;
}
.post-content{
    position: relative;
    padding: 10px;
    padding-bottom: 30px;
}
.post-like,.post-liked,.post-likes-count{
    position: absolute;
    right:10px;
    margin-top: -10px;
    color: red;
    font-size: 25px;
    transition: color 1s ease;
}
.post-like:hover,.post-liked:hover{
    cursor: pointer;
}
.post-like{
    color: rgb(255, 147, 147);
}
.post-likes-count{
    margin-right: 30px;
}
.post-likes-count:hover{
    cursor: pointer;
    transform: scale(1.3);
}
.post-likes-modal,.post-likes-modal-active{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.post-likes-modal-active{
    display: block;
}
.post-likes-modal-content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.all-like{
    border-bottom: 1px solid rgb(33, 122, 37);
    padding: 10px 0;
    color: rgb(58, 170, 54);
    font-weight: bold;
}
.all-like:hover{
    cursor: pointer;
    color: green;
}
.post-header-left:hover{
    cursor: pointer;
}
.post-header-left{
    display: flex;
}
.post-userIcon{
    width: 45px;
    margin: 3px 10px 3px -5px;
}
@media screen and (max-width: 1200px) {
    .post {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .post {
        background-color: whitesmoke;
        width: 100%;
        border-radius: 10px;
        margin-top: 40px;
        margin-left: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

