.navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.logo{
    font-size: 20px;
    margin-left: 20px;
    color: rgb(85, 219, 96);
    cursor: pointer;
}
.logo:hover{
    color: rgb(74, 194, 84);
}
.user{
    margin-right: 20px;
}

.search-bar input{
    height: 30px;
    margin-top: 15px;
    padding-left: 10px;
    width: 400px;
    border-radius: 5px;
}
.search-bar {
    display:flex;
    flex-direction: row;
}
.search-bar button{
    height: 36px;
    align-items: center;
    margin-top: 15px;
    margin-left: -5px;
    color: white;
    background-color: rgb(14, 156, 14);
}
.not-logged{
    display: flex;
}
.not-logged *{
    margin-right: 10px;
}
.not-logged h3{
    cursor: pointer;
}
.not-logged h3:hover{
    color: aliceblue;
    transform: scale(1.03);
}
.register-body{
    background-color: rgb(224, 224, 224);
    width: 100vw;
    height: 100vh;
    position:absolute;
}
.register-container{
    background-color: white;
    margin: 0 auto;
    width: 40vw;
    margin-top: 20vh;
    padding: 20px;
    padding-right: 30px;
    border-radius: 10px;
}
.register-container input{
    width: 100%;
    height: 25px;
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid grey;
    font-size: 15px;
    margin-bottom: 20px;
}
.register-container label{
    font-weight: bold;
}
.register-container .register-button{
    margin: 0 auto;
    border: none;
    background-color: rgb(100, 189, 18);
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
.register-button:hover{
    cursor: pointer;
    background-color: rgb(90, 167, 19);
}
.register-container a{
    display:  block;
    margin-top: 10px;
}
.register-logo{
    font-size: 30px;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgb(1, 92, 1);
}
.success-message{
    padding: 5px;
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
.error-message{
    padding: 5px;
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
@media screen and (max-width: 800px) {
    .navbar input{
        width: 200px;
    }
    .register-container{
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0 5px;
        border-radius: 0;
    }
    .register-body{
        background-color: rgb(255, 255, 255);
        width: 100vw;
        position:absolute;
    }
    .register-container input{
        width: 95%;
        height: 30px;
        border-radius: 2px;
        margin: 5px 0;
        border: 1px solid grey;
        font-size: 15px;
        margin-bottom: 20px;
        padding: 0;
    }
    .register-logo{
        font-size: 25px;
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 20px;
        color: rgb(1, 92, 1);
    }
}